@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-color: #fbbaa9;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

button{
    border: none;
    background: none;
    outline: none;
}

#scelte{
    height: 80vh;
}

#scelte > div{
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottoni{
    height: 20vh;
}

@media (max-width: 415px){
    h1{
        margin: 3px;
        
    }

    #scelte > div{
        height: 30%;
    }

    img{
        width: 20vw;
        height: 14vh;
        padding-top: 10px;
    }
}