@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body{
    display: grid;
    place-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #fbbaa9;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

#scelte{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin: auto;
}

.bottoni{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 50px;
}

button{
    background: none;
    display:block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid red;
    margin-right: 50px;
}

img{
    width: 100px;
    height: 100px;
}